@import 'src/styles/variables';

.spacer {
  &.m1 { margin: $gutter; }
  &.mt1 { margin-top: $gutter; }
  &.mb1 { margin-bottom: $gutter; }
  &.ml1 { margin-left: $gutter; }
  &.mr1 { margin-right: $gutter; }

  &.p1 { padding: $gutter; }
  &.pt1 { padding-top: $gutter; }
  &.pb1 { padding-bottom: $gutter; }
  &.pl1 { padding-left: $gutter; }
  &.pr1 { padding-right: $gutter; }
}
